
.icon-send {
    background-image:url(images/email_go.png) !important;
}
.icon-save {
    background-image:url(images/disk.png) !important;
}

.icon-print {
    background-image:url(images/printer.png) !important;
}
.icon-spell {
    background-image:url(images/spellcheck.png) !important;
}
.icon-attach {
    background-image:url(images/page_attach.png) !important;
}
